[submodule "3rdparty/FreeGLUT"]
	path = 3rdparty/FreeGLUT
	url = git@github.com:dcnieho/FreeGLUT.git
[submodule "3rdparty/glew"]
	path = 3rdparty/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = git@github.com:nothings/stb.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = git@github.com:zeux/pugixml.git
